.link {
    font: inherit;
    color: inherit;
}

.main-page {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 30px;
    font-family: 'Open Sans', sans-serif;;
}

.main-page__test-php {
    text-decoration: none;
    margin: 0 0 15px 0;
    padding: 15px 25px;
    background-color: lightskyblue;
    border: 1px solid deepskyblue;
    border-radius: 8px;
    color: black;
    text-transform: uppercase;
    font-size: 16px;
    font-weight: 500;
}

.goods {
    display: flex;
    flex-wrap: wrap;
    margin: 16px;
}
.good {
    display: flex;
    flex-direction: column;
    padding: 8px;
    border: 3px solid lightsalmon;
    margin: 0 16px 16px 0;
}

.good:last-child {
    margin: 0 0 16px 0;
}

.good__description {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    flex-grow: 2;
    text-decoration: none;
    color: #212121;
}

.good__description img {
    align-self: center;
}
